.autocomplete-genes-form-group {
  position: relative;
}

.autocomplete-genes-list-group {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 100;
  background-color: #fff;
}

.autocomplete-genes-list-group-item {
  background-color: #fff;
  background: #fff;
}

.autocomplete-genes-list-group-item:hover {
  cursor: pointer;
  background: #004a67;
  color: #fff;
}
